<body class = "principal"> 
    <div class="col-12">
        <div class="contenedor ">
            <div class="row">
                <h1 class="text-light">Ferseg S.A</h1>  
            </div>
            <hr>
            <br>
            <div  id="form">
                <div>
                    <div class="caja_usuario">
                        <div class="icon_avatar">
                            <img src="../../../assets/img/usuario.png">
                        </div>
                        <div class="divider">|</div>
                        <div>
                            <input type="text" id="txtUser" placeholder="Usuario..." required>
                        </div>
     
                    </div>
                    <br>
                    <div class="caja_password">
                        <div class="icon_pass">
                            <img src="../../../assets/img/lock.png">
                        </div>
                        <div class="divider">|</div>
                        <div>
                            <input type="password" id="txtPass" placeholder="Contraseña..." autocomplete="off" autocapitalize="off" required>
                       
                        </div>
                    </div>                
                    <br>
                    <div class="botonIngresar">
                        <button class="btn btn-dark fs-5">
                            Ingresar
                        </button>
                    </div>
                    
                </div>
               
            </div>
        
           
        </div>
    </div>
</body>
